@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800,900);

* {
  font-family: "Orbitron";
}

h1 {
  color: #fff;
  text-shadow: 0px 2px 5px #000;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

html {
  font-size: 62.5%;
}

.calc-shell {
  width: 400px;
  height: 600px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr;
  padding: 2em;
  box-sizing: border-box;
  background: #eeeeee;
  border: solid 2px #ddd;
  border-radius: 30px;
  box-shadow: 6px 6px 6px 0px #333, -6px -6px 16px 0 #333;
}

.display {
  width: 100%;
  height: 100px;
  box-shadow: 6px 6px 6px 0px rgba(209, 205, 199, 1),
    -6px -6px 16px 0 rgba(255, 255, 255, 1);
  border-radius: 10px;
  color: #999;
  font-size: 4rem;
  font-weight: 800;
  text-align: end;
  box-sizing: border-box;
  padding: 5rem 2rem;
  overflow-y: scroll;
}

.display::-webkit-scrollbar {
  display: none;
}

.keys {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  width: 100%;
}

.keys button {
  border-radius: 20px;
  border: none;
  width: 70px;
  height: 70px;
  transition: all 155ms ease-in-out;
  box-shadow: 6px 6px 6px 0 rgba(209, 205, 199, 1),
    -6px -6px 16px 0 rgba(255, 255, 255, 1);
  color: #000;
}

.keys button:hover {
  cursor: pointer;
  background-color: #ddd;
}

.action-key {
  font-size: 1.5rem;
}

.action-key:nth-child(14) {
  font-weight: 900;
  box-sizing: border-box;
}
